body {
  font: 1em 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #404040;
  width: 100%;
  background: #DAD299;
  background: -webkit-linear-gradient(to left, #DAD299, #B0DAB9);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #DAD299, #B0DAB9);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }

.error {
  color: #f0776c;
  padding: 5px 0 5px 0;
  font-family: Georgia;
  font-weight: 600; }

@media only screen and (min-device-width: 320px) {
  .sign-up {
    position: relative;
    margin: 50px auto;
    width: 80%;
    padding: 33px 25px 29px;
    background: white;
    border-bottom: 1px solid #c4c4c4;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25); }
    .sign-up .sign-up-title {
      margin: -25px -25px 25px;
      padding: 15px 25px;
      line-height: 35px;
      font-size: 1.5em;
      font-weight: 300;
      font-family: Georgia;
      color: #aaa;
      text-align: center;
      text-shadow: 0 1px rgba(255, 255, 255, 0.75);
      background: #f7f7f7; }
    .sign-up .sign-up-title:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 8px;
      background: #c4e17f;
      border-radius: 5px 5px 0 0;
      background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
      background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
      background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
      background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4); }

  .sign-up:before,
  .sign-up:after {
    content: '';
    position: absolute;
    bottom: 1px;
    left: 0;
    right: 0;
    height: 10px;
    background: inherit;
    border-bottom: 1px solid #d2d2d2;
    border-radius: 4px; }

  .sign-up:after {
    bottom: 3px;
    border-color: #dcdcdc; }

  #quiz input {
    vertical-align: middle; }
  #quiz ol {
    margin: 0 0 10px 20px; }
    #quiz ol li {
      margin: 0 0 20px 0; }
      #quiz ol li div {
        padding: 4px 0;
        font-size: 1em; }
  #quiz h3 {
    font-size: 1em;
    margin: 0 0 1px 0;
    color: #404040;
    font-family: Georgia; }
  #quiz .quiz-button {
    font-family: Georgia;
    width: 35%;
    margin: 0 auto;
    height: 45px;
    padding: 0;
    font-size: 1em;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #f0776c;
    border: 0;
    border-bottom: 2px solid #d76b60;
    border-radius: 5px;
    cursor: pointer;
    -webkit-box-shadow: inset 0 -2px #d76b60;
    box-shadow: inset 0 -2px #d76b60; }
    #quiz .quiz-button:active {
      top: 1px;
      outline: none;
      -webkit-box-shadow: none;
      box-shadow: none; }
    #quiz .quiz-button:hover {
      transition: 0.6s ease-in;
      background-color: HSLA(5, 81%, 68%, 0.69);
      -webkit-box-shadow: inset 0 -2px HSLA(5, 81%, 68%, 0.69);
      box-shadow: inset 0 -2px HSLA(5, 81%, 68%, 0.69); }

  input {
    font-family: inherit;
    color: inherit;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .sign-up-input {
    width: 100%;
    height: 50px;
    margin-bottom: 25px;
    padding: 0 15px 2px;
    font-size: 1em;
    background: white;
    border: 2px solid #ebebeb;
    border-radius: 4px; }

  .sign-up-input:focus {
    transition: 0.6s ease-in;
    border-color: #62c2e4;
    outline: none; }

  .lt-ie9 .sign-up-input {
    line-height: 48px; }

  .sign-up-button {
    position: relative;
    font-family: Georgia;
    vertical-align: top;
    width: 100%;
    height: 54px;
    padding: 0;
    font-size: 1.1em;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #f0776c;
    border: 0;
    border-bottom: 2px solid #d76b60;
    border-radius: 5px;
    cursor: pointer;
    -webkit-box-shadow: inset 0 -2px #d76b60;
    box-shadow: inset 0 -2px #d76b60; }
    .sign-up-button:active {
      top: 1px;
      outline: none;
      -webkit-box-shadow: none;
      box-shadow: none; }
    .sign-up-button:hover {
      transition: 0.6s ease-in;
      background-color: HSLA(5, 81%, 68%, 0.69);
      -webkit-box-shadow: inset 0 -2px HSLA(5, 81%, 68%, 0.69);
      box-shadow: inset 0 -2px HSLA(5, 81%, 68%, 0.69); }

  /* placeholders */
  :-moz-placeholder {
    color: #62c2e4;
    font-weight: 300; }

  ::-moz-placeholder {
    color: #62c2e4;
    opacity: 1;
    font-weight: 300; }

  ::-webkit-input-placeholder {
    color: #62c2e4;
    font-weight: 300; }

  :-ms-input-placeholder {
    color: #62c2e4;
    font-weight: 300; }

  ::-moz-focus-inner {
    border: 0;
    padding: 0; }

  #results {
    font: 22px Georgia, Serif;
    text-align: center; } }
@media only screen and (min-device-width: 768px) {
  .sign-up {
    width: 50%; } }
@media only screen and (min-device-width: 992px) {
  .sign-up {
    width: 25%; } }

/*# sourceMappingURL=style.css.map */
